# Eclipse Core      
.project
.settings/*

# JDT-specific (Eclipse Java Development Tools)     
.classpath

# Files generated when compiled
!src/Option5_AST
src/*.java
src/*.class
src/*/*.java
src/*/*.class
bin/*
